.App {
  text-align: center;
  background-color: yellow;
  padding: 2vh 0 0 0;
}

.form {
  padding: 10vh 0 3vh 0;
}

.text-box {
  padding: 10px;
  margin-right: 2vw;
}

.button {
  padding: 10px;
  width: 150px;
  border-radius: 6px;
  background-color: #ad81ee;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.table {
  padding: 5vh 0 5vh 0;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
}